<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                What2Eat
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li <% if (data["page_active"]=="index") { %> class="active" <% } %> ><a href="/">หน้าแรก</a></li>
            <li <% if (data["page_active"]=="find") { %> class="active" <% } %> ><a href="/find">กินอะไรดี ?</a></li>
            <li <% if (data["page_active"]=="insert") { %> class="active" <% } %> ><a href="/insert">ฉันมีอาหารมาแนะนำแหละ</a></li>
            <li <% if (data["page_active"]=="edit") { %> class="active" <% } %> ><a href="/edit">ข้อมูลมั่วจัง..เดี๋ยวฉันช่วยแก้</a></li>
        </ul>
    </div>
</nav>
