<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body class="container-fluid">
    <header>
        <% var data= {'page_active':'index'}; %>
        <% include ../partials/header %>
    </header>
    <main>
        <div class="jumbotron text-center">
            <h1>What2Eat</h1>
            <h1><small>"ไม่รู้จะกินอะไรดีหรอ ? ให้เราช่วยตัดสินใจสิ"</small></h1>
            <br><br>
            <a href="/find" class="btn btn-primary btn-lg" role="button">กินอะไรดี ?</a>
        </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>
